{% extends "base.html" %}
{% block body %}
<div class="container">
    
    
    <form class="card p-4 mx-auto" method="post" action="{% url 'appointment' %}">
        {% csrf_token %}
        <select class="form-select" name="doctor" aria-label="Default select example">
            <option selected>Select Doctor</option>
            {% for doctor in doctors %}
            <option  value="{{ doctor.doctor_name }}">{{ doctor.doctor_name }}</option>
            {% endfor %}
        </select>
      
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Enter your name</label>
          <input name="name" type="text" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Date</label>
          <input type="date" name="date" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Time</label>
          <input type="time" name="time" class="form-control" id="exampleInputPassword1">
        </div>
       
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
{% endblock body %}