{% extends 'base.html' %}
{% load static %}
<!-- end header section -->
<!-- slider section -->

{% block body %}
<hr>
{% if messages %}
 <div class="alert alert-primary" role="alert">
   <ul class="messages">
     {% for message in messages %}
     {{ message }}
     {% endfor %}
 </div>
 {% endif %} 
 

  <section class="slider_section">
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <div class="row">
              <div class="col-lg-10 col-md-11 mx-auto">
                <div class="detail-box">
                  <h1>
                    We Schedule <br />
                    Everything
                  </h1>
                  <p>"Book appointments made easy with BPN, your all-in-one scheduling solution"</p>
                  <div class="btn-box">
                    <a href="/contact/" class="btn1">Contact Us</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <div class="col-lg-10 col-md-11 mx-auto">
                <div class="detail-box">
                  <h1>
                    We Provide <br />
                    Appointment Service
                  </h1>
                  <p>"Simplify appointments with BPN: medical, agriculture, corporate, and dining, all at your fingertips"</p>
                  <div class="btn-box">
                    <a href="contact.html" class="btn1">Contact Us</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <div class="col-lg-10 col-md-11 mx-auto">
                <div class="detail-box">
                  <h1>
                    We help <br />
                    People
                  </h1>
                  <p>"At BPN, we assist individuals in managing their appointments effortlessly."</p>
                  <div class="btn-box">
                    <a href="contact.html" class="btn1">Contact Us</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel_btn-box">
        <a class="carousel-control-prev" href="#customCarousel1" role="button" data-slide="prev">
          <i class="fa fa-arrow-left" aria-hidden="true"></i>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#customCarousel1" role="button" data-slide="next">
          <i class="fa fa-arrow-right" aria-hidden="true"></i>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </section>
</div>
  <!-- end slider section -->

  <!-- service section -->

  <section class="service_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2 class="">Our Services</h2>
        <p class="col-lg-8 px-0">"BPN offers a streamlined web-based solution for appointment scheduling and management across diverse sectors, including medical, corporate, and agriculture. Our system automates reminders, ensures data security, and caters to hospitals and clinics with an efficient online database solution"</p>
      </div>
      <div class="service_container">
        <div class="carousel-wrap">
          <div class="service_owl-carousel owl-carousel">
            <div class="item">
              <div class="box">
                <div class="img-box">
                  <img src="{% static 'images/doc.png' %}" alt="" />
                </div>
                <div class="detail-box">
                  <h5>Medical Appointment</h5>
                  <p>Efficiently schedule and manage medical appointments with our user-friendly system</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box">
                <div class="img-box">
                  <img src="{% static 'images/res.png' %}" alt="" />
                </div>
                <div class="detail-box">
                  <h5>Restaurant Booking</h5>
                  <p>Effortlessly reserve your table at top restaurants with our user-friendly booking system</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box">
                <div class="img-box">
                  <img src="{% static 'images/int.png' %}" alt="" />
                </div>
                <div class="detail-box">
                  <h5>Corporate Appointment</h5>
                  <p>Efficiently manage corporate appointments with our streamlined system</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box">
                <div class="img-box">
                  <img src="{% static 'images/salon.png' %}" alt="" />
                </div>
                <div class="detail-box">
                  <h5>Salon</h5>
                  <p>Book your next pampering session at our salon! Schedule an appointment today, Check Now</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box">
                <div class="img-box">
                  <img src="{% static 'images/spa.png' %}" alt="" />
                </div>
                <div class="detail-box">
                  <h5>Spa</h5>
                  <p>Treat yourself to a blissful spa experience. Pamper yourself with a spa appointment</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box">
                <div class="img-box">
                  <img src="{% static 'images/hotel.png' %}" alt="" />
                </div>
                <div class="detail-box">
                  <h5>Hotel</h5>
                  <p>More than just a hotel, it’s a place to live and connect, Choose according to your plan</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-box">
        <a href="">Read More</a>
      </div> 
    </div>
  </section>
  

  <!-- service section ends -->

  <!-- about section -->

  <section class="about_section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5 offset-md-1">
          <div class="detail-box pr-md-2">
            <div class="heading_container">
              <h2 class="">About Us</h2>
            </div>
            <p class="detail_p_mt">Welcome to BPN Appointment System! We are dedicated to providing an efficient and user-friendly platform for scheduling various types of appointments. Our mission is to streamline the appointment booking process, whether it's for medical consultations, agricultural services, corporate meetings, or restaurant reservations. At BPN, we understand the importance of your time and strive to make the appointment scheduling experience as convenient as possible. Our intuitive interface and secure login system ensure a hassle-free booking process. Meet the Team Our team consists of passionate individuals with expertise in web development, user experience design, and customer service. Together, we work tirelessly to improve our platform and provide exceptional service to our users.</p>
            <a href="about.html" class="">Read More</a>
          </div>
        </div>
        <div class="col-md-6 px-0">
          <div class="img-box">
            <img src="{% static 'images/appoint.png' %}" class="box_img" alt="about img" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- about section ends -->

  <!-- team section -->

  <section class="team_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>Our Team</h2>
        <p>Our team boasts exceptional talent, with Bashist Narayan leading the charge as a meticulous frontend developer renowned for his creativity and precision in crafting visually appealing and intuitive user interfaces. Perwez Akhtar stands out as a versatile full-stack developer, seamlessly integrating frontend and backend technologies to deliver robust and scalable solutions, all while maintaining a commitment to high-quality code and innovation. Naushad Alam shines as a highly skilled frontend developer, known for his ability to bring design concepts to life with finesse and collaborative spirit, ensuring seamless user experiences. Together, they form a dynamic trio, each bringing unique strengths and expertise to the table, driving the success of our projects and enriching our development team.</p>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="{% static 'images/t1.jpg' %}" alt="" />
            </div>
            <div class="detail-box">
              <h5>Bashist Narayan</h5>
              <h6 class="">Frontend Developer</h6>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="{% static 'images/t2.jpg' %}" alt="" />
            </div>
            <div class="detail-box">
              <h5>Perwez Akhtar</h5>
              <h6 class="">Full Stack Developer</h6>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="{% static 'images/t3.jpg' %}" alt="" />
            </div>
            <div class="detail-box">
              <h5>Naushad Alam</h5>
              <h6 class="">Frontend Developer</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end team section -->

  <!-- contact section -->
  <section class="contact_section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 px-0">
          <div class="img-box">
            <img src="{% static 'images/contact.png' %}" class="box_img" alt="about img" />
          </div>
        </div>
        <div class="col-md-5 mx-auto">
          <div class="form_container">
            <div class="heading_container heading_center">
              <h2>Get In Touch</h2>
            </div>
            <form action="">
              <div class="form-row">
                <div class="form-group col">
                  <input type="text" class="form-control" placeholder="Your Name" />
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-lg-6">
                  <input type="text" class="form-control" placeholder="Phone Number" />
                </div>
                <div class="form-group col-lg-6">
                  <select name="" id="" class="form-control wide">
                    <option value="">Select Service</option>
                    <option value="">Service 1</option>
                    <option value="">Service 2</option>
                    <option value="">Service 3</option>
                  </select>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col">
                  <input type="email" class="form-control" placeholder="Email" />
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col">
                  <input type="text" class="message-box form-control" placeholder="Message" />
                </div>
              </div>
              <div class="btn_box">
                <button>SEND</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end contact section -->

  <!-- client section -->

  <section class="client_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>Testimonial</h2>
        <hr />
      </div>
      <div id="carouselExample2Controls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-lg-7 col-md-9 mx-auto">
                <div class="client_container">
                  <div class="img-box">
                    <img src="{% static 'images/elon.jpeg' %}" alt="" />
                  </div>
                  <div class="detail-box">
                    <h5>Elon Musk</h5>
                    <p>BPN's appointment system has significantly improved our scheduling procedures, seamlessly streamlining the process with reliability and user-friendliness. It guarantees smooth coordination between clients and staff, ensuring an efficient workflow.</p>
                    <span><i class="fa fa-quote-left" aria-hidden="true"></i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-lg-7 col-md-9 mx-auto">
                <div class="client_container">
                  <div class="img-box">
                    <img src="{% static 'images/satya.jpeg' %}" alt="" />
                  </div>
                  <div class="detail-box">
                    <h5>Satya Narayan Nadella</h5>
                    <p>The appointment system developed by BPN has yielded substantial enhancements to our scheduling protocols. Its seamless integration has effectively streamlined the entire process, rendering it both dependable and user-friendly. </p>
                    <span><i class="fa fa-quote-left" aria-hidden="true"></i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-lg-7 col-md-9 mx-auto">
                <div class="client_container">
                  <div class="img-box">
                    <img src="{% static 'images/sunder.jpeg' %}" alt="" />
                  </div>
                  <div class="detail-box">
                    <h5>Sunder Pichai</h5>
                    <p>BPN’s appointment system has streamlined our scheduling process effortlessly. It’s reliable, user-friendly, and ensures smooth coordination for both clients and staff. Highly recommended!</p>
                    <span><i class="fa fa-quote-left" aria-hidden="true"></i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel_btn-box">
          <a class="carousel-control-prev" href="#carouselExample2Controls" role="button" data-slide="prev">
            <span><i class="fa fa-arrow-left" aria-hidden="true"></i></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExample2Controls" role="button" data-slide="next">
            <span><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- end client section -->
{% endblock %}
<!-- end info_section -->
