{% extends "base.html" %}
{% load static %}

{% block body %}
  <!-- service section -->
  
  <section class="service_section layout_padding" style="background-color: #d5f4e6">
    <div class="container" >
      <div class="heading_container heading_center">
        <h2 class="">Our Services</h2>
        <p class="col-lg-8 px-0">"BPN offers a streamlined web-based solution for appointment scheduling and management across diverse sectors, including medical, corporate, and agriculture. Our system automates reminders, ensures data security, and caters to hospitals and clinics with an efficient online database solution"</p>
      </div>
      <div class="service_container">
        <div class="carousel-wrap">
          <div class="service_owl-carousel owl-carousel">
            <div class="item">
              <div class="box">
                <div class="img-box">
                  <img src="{% static 'images/doc.png' %}" alt="" />
                </div>
                <div class="detail-box">
                  <h5>Medical Appointment</h5>
                  <p>Efficiently schedule and manage medical appointments with our user-friendly system</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box">
                <div class="img-box">
                  <img src="{% static 'images/res.png' %}" alt="" />
                </div>
                <div class="detail-box">
                  <h5>Restaurant Booking</h5>
                  <p>Effortlessly reserve your table at top restaurants with our user-friendly booking system</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box">
                <div class="img-box">
                  <img src="{% static 'images/int.png' %}" alt="" />
                </div>
                <div class="detail-box">
                  <h5>Corporate Appointment</h5>
                  <p>Efficiently manage corporate appointments with our streamlined system</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box">
                <div class="img-box">
                  <img src="{% static 'images/salon.png' %}" alt="" />
                </div>
                <div class="detail-box">
                  <h5>Salon</h5>
                  <p>Book your next pampering session at our salon! Schedule an appointment today, Check Now</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box">
                <div class="img-box">
                  <img src="{% static 'images/spa.png' %}" alt="" />
                </div>
                <div class="detail-box">
                  <h5>Spa</h5>
                  <p>Treat yourself to a blissful spa experience. Pamper yourself with a spa appointment</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box">
                <div class="img-box">
                  <img src="{% static 'images/hotel.png' %}" alt="" />
                </div>
                <div class="detail-box">
                  <h5>Hotel</h5>
                  <p>More than just a hotel, it’s a place to live and connect, Choose according to your plan</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-box">
        <a href="">Read More</a>
      </div> 
    </div>
  </section>
  
  <!-- service section ends -->
{% endblock %}